<div>
    <h2>
        <span jhiTranslate="profileBuddyApp.comment.home.title">Comments</span>
        <button class="btn btn-primary float-right create-comment-my-suffix" [routerLink]="['/', { outlets: { popup: ['comment-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="profileBuddyApp.comment.home.createLabel">
            Create new Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="profileBuddyApp.comment.markdown">Markdown</span></th>
            <th><span jhiTranslate="profileBuddyApp.comment.profile">Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments ;trackBy: trackId">
                <td><a [routerLink]="['../comment-my-suffix', comment.id ]">{{comment.id}}</a></td>
                <td>{{comment.markdown}}</td>
                <td>
                    <div *ngIf="comment.profileId">
                        <a [routerLink]="['../profile-my-suffix', comment.profileId  ]" >{{comment.profileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comment-my-suffix', comment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment-my-suffix/'+ comment.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment-my-suffix/'+ comment.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
