
<div *ngIf="comment">
    <h2><span jhiTranslate="profileBuddyApp.comment.detail.title">Comment</span> {{comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="profileBuddyApp.comment.markdown">Markdown</span></dt>
        <dd>
            <span>{{comment.markdown}}</span>
        </dd>
        <dt><span jhiTranslate="profileBuddyApp.comment.profile">Profile</span></dt>
        <dd>
            <div *ngIf="comment.profileId">
                <a [routerLink]="['/profile-my-suffix', comment.profileId]">{{comment.profileId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comment-my-suffix/'+ comment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
