<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Search Documents</h1>

        <form class="navbar-form" role="search">
            <div class="input-group add-on">
                <input class="form-control"
                       (keyup.enter)="change($event)"
                       autocomplete="off"
                       placeholder="Search"
                       name="srch-term" id="srch-term"
                       type="text">
                <div class="input-group-btn action-wrapper">
                    <button class="btn btn-default" type="submit">
                        <div *ngIf="!loading">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <div *ngIf="loading">
                            <i class="fa fa-pause" aria-hidden="true"></i>
                        </div>
                    </button>
                </div>
            </div>
        </form>

        <div class="search-results">
            <div *ngIf="loading" class="loader"></div>
            <div *ngFor="let sr of searchResults; let myIndex = index" class="search-result">
                <table>
                    <tr>
                        <td class="preview" rowspan="5"></td>
                        <td class="label">File Name:</td>
                        <td class="name">{{sr.fileName}}</td>
                    </tr>
                    <tr>
                        <td class="label">File date:</td>
                        <td class="modified">{{sr.lastModified}}</td>
                    </tr>
                    <tr>
                        <td class="label">File type:</td>
                        <td class="modified">{{sr.contentType}}</td>
                    </tr>
                    <tr>
                        <td class="label">File size:</td>
                        <td class="modified">{{sr.fileSize}}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="content">{{sr.content}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
