/* ==========================================================================
Search component page styles
========================================================================== */

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search-results {
    padding: 24px;
}

.search-result {
    padding-top: 12px;
    padding-bottom: 12px;
}

.search-result:hover {
    background-color: #DDD;
    transition-duration: 1s;
}

.search-result table {
    margin-top: 24px;
    margin-bottom: 24px;
}

.search-result td.label {
    text-align: right;
    padding-right: 1em;
    color: #444;
}

.search-result td.preview {
    padding: 18px;
    background: url("../../content/images/icon-file-512.png") no-repeat center top;
    background-size: contain;
    width: 128px;
}

.search-result td.name {
    font-weight: bold;
}

.search-result td.content {
    font-size: small;
    color: #3b5998;
}
