<div>
    <h2>
        <span jhiTranslate="profileBuddyApp.profileDocument.home.title">Profile Documents</span>
        <button class="btn btn-primary float-right create-profile-document-my-suffix"
                [routerLink]="['/', { outlets: { popup: ['profile-document-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="profileBuddyApp.profileDocument.home.createLabel">
            Create new Profile Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="profileDocuments">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="profileBuddyApp.profileDocument.path">Path</span></th>
                <th><span jhiTranslate="profileBuddyApp.profileDocument.name">Name</span></th>
                <th><span jhiTranslate="profileBuddyApp.profileDocument.profile">Profile</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profileDocument of profileDocuments ;trackBy: trackId">
                <td><a [routerLink]="['../profile-document-my-suffix', profileDocument.id ]">{{profileDocument.id}}</a>
                </td>
                <td>{{profileDocument.path}}</td>
                <td>{{profileDocument.name}}</td>
                <td>
                    <div *ngIf="profileDocument.profileId">
                        <a [routerLink]="['../profile-my-suffix', profileDocument.profileId  ]">{{profileDocument.profileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../profile-document-my-suffix', profileDocument.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'profile-document-my-suffix/'+ profileDocument.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'profile-document-my-suffix/'+ profileDocument.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
