<div *ngIf="profileDocument">
    <h2><span jhiTranslate="profileBuddyApp.profileDocument.detail.title">Profile Document</span> {{profileDocument.id}}
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="profileBuddyApp.profileDocument.path">Path</span></dt>
        <dd>
            <span>{{profileDocument.path}}</span>
        </dd>
        <dt><span jhiTranslate="profileBuddyApp.profileDocument.name">Name</span></dt>
        <dd>
            <span>{{profileDocument.name}}</span>
        </dd>
        <dt><span jhiTranslate="profileBuddyApp.profileDocument.profile">Profile</span></dt>
        <dd>
            <div *ngIf="profileDocument.profileId">
                <a [routerLink]="['/profile-my-suffix', profileDocument.profileId]">{{profileDocument.profileId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'profile-document-my-suffix/'+ profileDocument.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
