
/* ==========================================================================
Upload component page styles
========================================================================== */

$font-family: Helvetica, Arial, sans-serif;

$border-color: #bbb;
$border-radius: 5px;

// Drop zone
$border-color: #bbb;
$border-radius: 5px;

$drop-color: $border-color;
$drop-border: 2px dashed $border-color;
$drop-padding: 25px;

input[name="files[]"] {
    display: none;
}

div.drop-zone.active {
    border-color: red;
}

div.drop-zone {
    cursor: pointer;

    padding: $drop-padding;

    border: $drop-border;
    border-radius: $border-radius;

    font: 20pt bold $font-family;
    text-align: center;
    color: $drop-color;
}
