<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Upload documents</h1>

        <div
            class="drop-zone"
            [class.active]="isHovering()"
            (dragover)="dragover($event)"
            (dragenter)="dragenter()"
            (dragleave)="dragleave()"
            (dragend)="dragend()"
            (drop)="drop($event)"
            (click)="click()"
        >Drop files here
        </div>
        <input #fileInput
               (change)="change($event)"
               type="file" name="files[]" multiple/>

        <div *ngFor="let uf of uploadedFiles; let myIndex = index">
            <li>{{uf.name}} {{uf.size}} bytes</li>
        </div>

    </div>
</div>
