
<div *ngIf="profile">
    <h2><span jhiTranslate="profileBuddyApp.profile.detail.title">Profile</span> {{profile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="profileBuddyApp.profile.firstName">First Name</span></dt>
        <dd>
            <span>{{profile.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="profileBuddyApp.profile.lastName">Last Name</span></dt>
        <dd>
            <span>{{profile.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="profileBuddyApp.profile.email">Email</span></dt>
        <dd>
            <span>{{profile.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'profile-my-suffix/'+ profile.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
