<div>
    <h2>
        <span jhiTranslate="profileBuddyApp.profile.home.title">Profiles</span>
        <button class="btn btn-primary float-right create-profile-my-suffix" [routerLink]="['/', { outlets: { popup: ['profile-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="profileBuddyApp.profile.home.createLabel">
            Create new Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="profiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="profileBuddyApp.profile.firstName">First Name</span></th>
            <th><span jhiTranslate="profileBuddyApp.profile.lastName">Last Name</span></th>
                <th><span jhiTranslate="profileBuddyApp.profile.email">Email</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profile of profiles ;trackBy: trackId">
                <td><a [routerLink]="['../profile-my-suffix', profile.id ]">{{profile.id}}</a></td>
                <td>{{profile.firstName}}</td>
                <td>{{profile.lastName}}</td>
                <td>{{profile.email}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../profile-my-suffix', profile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'profile-my-suffix/'+ profile.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'profile-my-suffix/'+ profile.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
